[Unit]
Description=Broadcom BCM434* Bluetooth HCI
ConditionPathIsDirectory=/proc/device-tree/soc/gpio@7e200000/bt_pins
DefaultDependencies=no
Wants=local-fs.target
Before=sysinit.target shutdown.target
BindsTo=sys-subsystem-serial-devices-%i.device
After=sys-subsystem-serial-devices-%i.device local-fs.target
RefuseManualStart=yes
RefuseManualStop=yes
Conflicts=shutdown.target

[Service]
ExecStart=/usr/bin/btattach -B /dev/%i -P bcm -S 3000000 -N
LimitNPROC=1
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=sysinit.target
DefaultInstance=ttyAMA0
